{% extends "base.html" %}
{% block title %}Single Post{% endblock title %}
{% load static %}
{% block content %}

<!-- single post -->
<div class="pages section">
    <div class="container">
        {% for post in posts %}
        <div class="single-post">
            {% if post.image %}
            <img src="{{ post.image.url }}" alt="{{ post.title }}">
            {% endif %}
            <div class="blog-single-content">
                <h3>{{ post.title }}</h3>
                <div class="date">{{post.created_at | date:'d-M-Y'}}</div>
                <p>{{ post.body }}</p>
                <div class="share-post">	
                    <ul>
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-google"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>	
            <div class="comment">
                <h5>1 Comments</h5>
                <div class="comment-details">
                    <div class="row">
                        <div class="col s3">
                            <img src="{% static "img/user-comment.jpg" %}" alt="">
                        </div>
                        <div class="col s9">
                            <div class="comment-title">
                                <span><strong>John Doe</strong> | Juni 5, 2016 at 9:24 am | <a href="">Reply</a></span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis accusantium corrupti asperiores et praesentium dolore.</p>
                        </div>
                    </div>
                </div>
            </div>	
            <div class="comment-form">
                <div class="comment-head">
                    <h5>Post Comment in Below</h5>
                    <p>Lorem ipsum dolor sit amet consectetur*</p>
                </div>
                <div class="row">
                    <form class="col s12 form-details">
                        <div class="input-field">
                            <input type="text" required class="validate" placeholder="Name">
                        </div>
                        <div class="input-field">
                            <input type="email" class="validate" placeholder="Email" required>
                        </div>
                        <div class="input-field">
                            <input type="text" class="validate" placeholder="Subject" required>
                        </div>
                        <div class="input-field">
                            <textarea name="textarea-message" id="textarea1" cols="30" rows="10" class="materialize-textarea" class="validate" placeholder="Your Comment"></textarea>
                        </div>
                        <div class="form-button">
                            <div class="btn button-default">Post Comment</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>	
</div>
<!-- end single post -->

{% endblock content %}